.DS_STORE
private/**
by-host/*/dot-config/chromium/
by-host/*/dot-config/chromium-dev/
by-host/*/dot-config/f-spot/
by-host/*/dot-config/spotify/
by-host/*/dot-config/transmission/
by-host/*/dot-config/libreoffice/
by-host/*/dot-config/SpotifyResolver/
**.elc

.svn
config/fish/fish_variables
